@model KonneyTM.ViewModels.EventViewModel

<article id="ConfirmModal" class="ConfirmModal modal fade" tabindex="-1" role="dialog" aria-labelledby="Confirmation Modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100">Confirm</h4>
            </div><!--/.modal-header-->
            <p class="modal-body text-center font-weight-bold mb-0"></p>
            <div class="modal-footer d-flex justify-content-center pt-4">
                <a class="CloseModal btn btn-danger text-light" data-dismiss="modal">Cancel</a>
                <a class="Confirm btn">Confirm</a>
            </div><!--/.modal-footer-->
        </div><!--/.modal-content-->
    </div><!--/.modal-dialog-->
</article><!--/.ConfirmModal-->