@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    <div class="Footer UserFooter d-flex w-100 justify-content-between fixed-bottom">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right ml-auto align-self-end" }))
        {
            @Html.AntiForgeryToken()

            <ul class="LogOff nav navbar-nav navbar-right">
                <li class="nav-item "><a class="nav-link text-light" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
    </div>
}
else if (Request.Path.Contains("Demo"))
{
    if (Request.Path.Contains("Events"))
    {
        <div class="Footer DemoFooter d-flex w-100 justify-content-between fixed-bottom">
            <ul class="Back">
                <li class="nav-item">
                    @Html.ActionLink("Back", "Index", "Demo", null, new { @class = "nav-link font-weight-bold text-light" })
                </li>
            </ul>
            <ul class="Quit ml-auto">
                <li class="nav-item">
                    @Html.ActionLink("Quit Demo", "Index", "Home", null, new { @class = "QuitDemo nav-link font-weight-bold text-light" })
                </li>
            </ul>
        </div>
    }
}
else
{
    <div class="Footer HomeFooter d-flex w-100 justify-content-between fixed-bottom">
        <div class="FooterLeft d-inline-block text-center">
            <h3>Disclaimer</h3>
            <p>
                This is a Demo Application created <br />
                for a software engineering portfolio.
            </p>
        </div>
        <div class="FooterRight d-inline-block text-center">
            <h3>Links</h3>
            <a href="#"><u>Code for this Demo</u></a> <br />
            <a href="#"><u>Portfolio Landing Page</u></a>
        </div>
    </div>
}
