@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@Styles.Render("~/PanelStyles")

    <section class="Error">
        <div class="Header mb-4">
            <h2>Error</h2>
        </div><!--/.Header-->

        <h1 class="ml-4 text-danger">We apologize.</h1>
        <h2 class="ml-4 text-danger">Something went wrong.</h2>
        <h2 class="ml-4 text-danger">Click <a href="@Url.Action("Index", "Home")">here</a> to return back to the home page.</h2>
    </section>

