/* EVENTS */
.Header {
    width: 100%;
    background: rgb(15,65,13);
    background: linear-gradient(90deg, rgba(15,65,13,1) 0%, rgba(238,251,238,1) 100%);
    margin: -1rem 0 2rem 1rem;
}

.Header h2 {
    margin-left: 0.3rem;
    color: #EEFBEE;
}

.EventCard {
    height: 15rem;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    background: rgb(15,65,13);
    background: linear-gradient(90deg, rgba(15,65,13,1) 0%, rgba(12,53,11,1) 64%, rgba(0,0,0,1) 100%);
    margin-bottom: 3rem;
    box-shadow: black 0.1rem 0.5rem 0.4rem;
    border: #00EBC3 0.2rem solid;
}

.EventCard h3 {
    color: #EEFBEE;
    margin-bottom: 2rem;
}

.EventCard h4 {
    color: #EEFBEE;
    display: inline;
    margin-right: 1rem;
}

span {
    color: #EEFBEE;
    font-family: Overlock, sans-serif;
    font-size: 15pt;
}


.InnerRow {
    height: 100%;
}

.Info {
    margin-bottom: 1rem;
}

.Controls > .Left, .Right {
    display: inline-block;
}

.Controls a {
    color: #EEFBEE;
    font-family: 'Overlock', sans-serif;
    font-weight: 700;
    font-size: 13pt;
    margin-right: 0.5rem;
    text-decoration: underline;
}

.Picture {
    border-radius: 0.5rem;
    background-image: url("../Images/Welcome.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.NewEventColumn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NewEvent {
    height: 13rem;
    width: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: rgb(15,65,13);
    background: linear-gradient(90deg, rgba(15,65,13,1) 0%, rgba(12,53,11,1) 64%, rgba(0,0,0,1) 100%);
    box-shadow: black 0.1rem 0.5rem 0.4rem;
    border: #00EBC3 0.2rem solid;
    transition-duration: 0.5s;
}
    .NewEvent:hover {
        margin-top: -0.4rem;
        transition-duration: 0.5s;
    }

.NewEventLink {
    text-decoration: none !important;
}

.NewEvent i {
    color: #EEFBEE;
}

.ButtonOut {
    margin: 0 0.5rem 0 0.5rem;
    border: #00EBC3 0.2rem solid;
    width: 10rem;
    height: 2.7rem;
    text-align: center;
    background-color: #0F410D;
    border-bottom-right-radius: 3rem;
    border-top-left-radius: 3rem;
}

.ButtonIn {
    font-family: 'Overlock SC', sans-serif;
    font-size: 19pt;
    color: #EEFBEE;
    padding: 0;
    background: none;
    border: none;
}
    .ButtonIn:hover {
        color: #CED9CE; 
        text-decoration: none;
    }

/* NEW EVENT */
