/* EVENTS */
section {
    padding-right: 1rem;
}

.Header {
    width: 100%;
    background: rgb(15,65,13);
    background: linear-gradient(90deg, rgba(15,65,13,1) 0%, rgba(238,251,238,1) 100%);
    margin: -1rem 0 2rem 1rem;
}

.Header h2 {
    margin-left: 0.3rem;
    color: #EEFBEE;
}

.EventCard {
    height: 15rem;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    background: rgb(15,65,13);
    background: linear-gradient(90deg, rgba(15,65,13,1) 0%, rgba(12,53,11,1) 64%, rgba(0,0,0,1) 100%);
    margin-bottom: 3rem;
    box-shadow: black 0.1rem 0.5rem 0.4rem;
    border: #00EBC3 0.2rem solid;
}

.EventCard h3 {
    color: #EEFBEE;
    margin-bottom: 2rem;
}

.EventCard h4 {
    color: #EEFBEE;
    display: inline;
    margin-right: 1rem;
}

span {
    color: #EEFBEE;
    font-family: Overlock, sans-serif;
    font-size: 15pt;
}


.InnerRow {
    height: 100%;
}

.Info {
    margin-bottom: 1rem;
}

.Controls > .Left, .Right {
    display: inline-block;
}

.Controls a {
    color: #EEFBEE;
    font-family: 'Overlock', sans-serif;
    font-weight: 700;
    font-size: 13pt;
    margin-right: 0.5rem;
    text-decoration: underline;
}

.Picture {
    border-radius: 0.5rem;
    background-image: url("../Images/Welcome.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.NewEventColumn, .NewPersonColumn, .NewVenueColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 1em;
}

.NewEvent {
    height: 13rem;
    width: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: rgb(15,65,13);
    background: linear-gradient(90deg, rgba(15,65,13,1) 0%, rgba(12,53,11,1) 64%, rgba(0,0,0,1) 100%);
    box-shadow: black 0.1rem 0.5rem 0.4rem;
    border: #00EBC3 0.2rem solid;
    transition-duration: 0.5s;
}
    .NewEvent:hover, .NewPerson:hover, .NewVenue:hover {
        margin-top: -0.4rem;
        transition-duration: 0.5s;
    }

.NewEventLink, .NewPersonLink, .NewVenueLink {
    text-decoration: none !important;
}

.NewEvent i, .NewPerson i, .NewVenue i {
    color: #EEFBEE;
}

.ButtonOut {
    margin: 0 0.5rem 0 0.5rem;
    border: #00EBC3 0.2rem solid;
    width: 10rem;
    height: 2.7rem;
    text-align: center;
    background-color: #0F410D;
    border-bottom-right-radius: 3rem;
    border-top-left-radius: 3rem;
}

.form-group {
    margin-bottom: 2rem;
}

.ButtonIn {
    font-family: 'Overlock SC', sans-serif;
    font-size: 19pt;
    color: #EEFBEE;
    padding: 0;
    background: none;
    border: none;
}
    .ButtonIn:hover {
        color: #CED9CE; 
        text-decoration: none;
    }

.Panel-People .PeopleTable {
    padding-left: 1rem;
    padding-right: 0.8rem;
}

th {
    font-family: 'Overlock SC', sans-serif;
    font-size: 16pt;
}

.PeopleRow {
    padding-left: 1rem;
    padding-right: 0.8rem;
}

.PersonCol {
    margin-bottom: 1rem;
}

.PersonCard {
    height: 12rem;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    background: rgb(15,65,13);
    margin-bottom: 3rem;
    border: #00EBC3 0.2rem solid;
    box-shadow: black 0.1rem 0.5rem 0.4rem;
}

.PersonName {
    color: #EEFBEE;
}

.PersonPhone {
    color: #EEFBEE;
}

.PersonEmail {
    color: #EEFBEE;
    font-size: 12pt;
}

.EditPerson {
    position: absolute;
    color: #00fffb;
    right: 0.8em;
    top: 0.4em;
}

.DeletePerson {
    position: absolute;
    color: #ff2200;
    left: 1em;
    top: 0.46em;
    cursor: pointer;
}

.NewPerson {
    height: 7em;
    width: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: rgb(15,65,13);
    background: linear-gradient(90deg, rgba(15,65,13,1) 0%, rgba(12,53,11,1) 64%, rgba(0,0,0,1) 100%);
    box-shadow: black 0.1rem 0.5rem 0.4rem;
    border: #00EBC3 0.2rem solid;
    transition-duration: 0.5s;
}

.VenueRow {
    padding-left: 1rem;
    padding-right: 0.8rem;
}

.VenueCol {
    margin-bottom: 1rem;
}

.VenueCard {
    background-position: center !important;
    background-size: cover !important;
    height: 15rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    box-shadow: black 0.1rem 0.5rem 0.4rem;
    border: #00EBC3 0.2rem solid;
    transition-duration: 1s;
}
.overlay { /* Sit on top of the page content */
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    border-radius: 1rem;
}

.VenueName, .VenuePhone, .VenueAddress, .VenuePostCode {
    color: #EEFBEE;
}

.EditVenue {
    position: absolute;
    color: #00fffb;
    right: 1.2em;
    top: 0.7em;
}

.DeleteVenue {
    position: absolute;
    color: #ff2200;
    right: 1.5em;
    bottom: 2.3em;
    cursor: pointer;
}

.NewVenue {
    height: 10em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: rgb(15,65,13);
    background: linear-gradient(90deg, rgba(15,65,13,1) 0%, rgba(12,53,11,1) 64%, rgba(0,0,0,1) 100%);
    box-shadow: black 0.1rem 0.5rem 0.4rem;
    border: #00EBC3 0.2rem solid;
    transition-duration: 0.5s;
}

/* CONFIRM DELETION MODAL */
.modal-body {
    font-family: Overlock, sans-serif;
    font-weight: 700;
    font-size: 17pt;
}

.ConfirmDelete, .CloseModal{
    cursor: pointer;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-size: 15pt;
    font-family: 'Overlock SC', sans-serif;
}