body {
    background-color: #EEFBEE;
    padding-bottom: 10rem;
}

.ExceptFooter {
    padding: 0 10rem 0 10rem;
}
@media only screen and (max-width: 992px) {
    body {
        padding-bottom: 8rem;
    }
    .ExceptFooter {
        padding: 0 1rem 0 1rem;
    }
}

h1, h2, h3, h4, h5 {
    font-family: 'Overlock SC', sans-serif;
    font-weight: 700;
}

/* NAVBAR */
nav {
    margin-bottom: 2.5rem;
}

@media only screen and (max-width: 992px)
{
    nav {
        margin-bottom: 1rem;
    }
}

.Brand h1 {
    font-family: Oregano, cursive;
    color: #0F410D;
    font-weight: 700;
}
.Brand span {
    font-weight: 400;
    font-size: 20pt;
    font-family: Oregano, cursive;
}

.nav-item {
    font-family: 'Overlock SC', sans-serif;
    margin: 0 0.5rem 0 0.5rem;
    border: #00EBC3 0.2rem solid;
    width: 10rem;
    height: 2.7rem;
    text-align: center;
    font-size: 19pt;
    background-color: #0F410D;
    border-bottom-right-radius: 3rem;
    border-top-left-radius: 3rem;
}

.nav-link {
    padding: 0;
}

@media only screen and (max-width: 992px) {
    .nav-item {
        margin: 0.5rem auto 0.5rem auto;
        width: 40%;
    }
}
@media only screen and (max-width: 768px) {
    .nav-item {
        width: 60%;
    }
}


/* FOOTER STARTS */
.Footer {
    padding: 1rem 10rem 0 10rem;
    background-color: #0F410D;
    width: 100vh;
    border-top: #00EBC3 0.2rem solid;
}


    .Footer h3 {
        font-family: 'Overlock SC', sans-serif;
        font-weight: 700;
        font-size: 18pt;
        color: #EEFBEE;
    }

    .Footer a {
        font-family: 'Overlock SC', sans-serif;
        font-size: 14pt;
        color: #EEFBEE;
    }

    .Footer p {
        font-family: Overlock, sans-serif;
        font-size: 14pt;
        color: #EEFBEE
    }
.LogOff {
    margin-bottom: 1rem;
}
.LogOff li {
    background-color: darkolivegreen;
}

@media only screen and (max-width: 992px) {
    .Footer {
        padding: 1rem 1rem 0 1rem;
    }

    .Footer h3 {
        font-size: 14pt;
    }

    .Footer a, .Footer p {
        font-size: 12pt;
    }
}
/* FOOTER ENDS */