body {
    background-color: #EEFBEE;
    padding: 0 10rem 0 10rem;
}
@media only screen and (max-width: 768px) {
    body {
        padding: 0 3rem 0 3rem;
    }
}


/* NAVBAR */
.Brand h1 {
    font-family: Oregano;
    color: #0F410D;
    font-weight: 700;
}
.Brand span {
    font-weight: 400;
    font-size: 20pt;
    font-family: Oregano;
}